<nav class="navbar navbar-inverse">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/about">About</a></li>
      <li role="presentation"><a href="/contact">Contact</a></li>
      <li role="presentation"><a href="/discover">Discover</a></li>
    </ul>
</nav>