<nav class="navbar navbar-inverse">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/"><span class="label label-primary">About</span></a></li>
      <li role="presentation"><a href="/about"><span class="label label-success">Add</span></a></li>
      <li role="presentation"><a href="/portfolio"><span class="label label-info">Portfolio</span></a></li>
      <li role="presentation"><a href="/remove"><span class="label label-warning">Remove</span></a></li>
      <li role="presentation"><a href="/contact"><span class="label label-danger">Contact</span></a></li>
    </ul>
</nav>