<meta charset="UTF-8">
<title><%=title%></title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel='stylesheet' href='./stylesheets/style.css' />
<style>

</style>
<main>
    <h1>Articulate</h1>
    <p><em>Welcome back to your personalized portfolio.</em></p>
</main>