<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body class="container">
  <header>
    <% include partials/header %>
  </header>
  <main>
    	<section class="welcome">
		<div class="articulate-content text-center">
			<br>
			</br>
		</div>
		<h4>All About Us</h4>
		<p>We're a small team</a>
			<br>
			</br>
	</section>
   </main>
  <footer>
    <% include partials/footer %>
  </footer>
  </body>
</html>