<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <% include partials/head %>
  	    <header>
   	     	<% include partials/header %>
  	    </header>
    </head>
   
    <body class="text-center">
      <h3>List of Articles</h3>
      <main class="container">
        <form name="form1" method="POST" action="/article/add">
          <table>
          <tr>
          <td>Article Name</td>
          <td><input type="text" name="name" ></td>
          </tr>
          <tr>
          <td>Author</td>
          <td><input type="text" name="auth" ></td>
          </tr>
          <tr>
          <tr>
          <td>URL</td>
          <td><input type="text" name="link" ></td>
          </tr>
          <tr>
          <td colspan="3"><input type="submit" value="Save" ></td>
          </tr>
      </table>
      </form>   

  </main>
  </body>
  	<footer>
    <% include partials/footer %>
  </footer>
  
</html>