<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <main>
  <body class="container">
  <header>
    <% include partials/header %>
  </header>
	<section class="welcome">
		<div class="container text-center">
			<br>
			</br>
		<h4>Contact Us</h4>
		<p>24/7</a>
			<br>
			</br>
		</div>
	</section>
	</main>  
	<footer>
    <% include partials/footer %>
  	</footer>
  </body>
</html>
	