<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <main>
	<% contentFor('welcome') %>
	<section class="welcome">
		<div class="articulate-content text-center">
			<br>
			</br>
		<h4>Contact Us</h4>
		<p>24/7</a>
			<br>
			</br>
	</section>
	</main>  
	<footer>
    <% include partials/footer %>
  	</footer>
  </body>
</html>
	