<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include partials/head %>
  	<header>
   	 	<% include partials/header %>
  	</header>
  </head>
  
	<body class="container">
	<div class="container">
		<div class="jumbotron text-center">
			<iframe height="250px" width="70%" src="https://www.forbes.com/sites/mitchwallace/2017/12/03/this-pro-xbox-one-controller-is-almost-perfect/#1291bb8b1d84" name="art1"></iframe>
			<p><a href="https://www.forbes.com/sites/mitchwallace/2017/12/03/this-pro-xbox-one-controller-is-almost-perfect/#1291bb8b1d84/" target="art1" class="btn btn-lg btn-primary">Xbox Controller</a></p>
		</div>
	</div>

	<div class="container">
		<div class="jumbotron text-center">
			<iframe height="250px" width="70%" src="https://qz.com/1121547/how-smart-is-the-first-robot-citizen/" name="art2"></iframe>
			<p><a href="https://qz.com/1121547/how-smart-is-the-first-robot-citizen/" target="art2" class="btn btn-lg btn-primary">Inside the Brain of Robot Sofia</a></p>
		</div>
	</div>

	<div class="container">
		<div class="jumbotron text-center">
			<iframe height="250px" width="70%" src="https://developer.mozilla.org/en-US/" name="art3"></iframe>
			<p><a href="https://developer.mozilla.org/en-US/" target="art2" class="btn btn-lg btn-primary/">MDN Resources</a></p>
		</div>
	</div>
	
	</body>
	
	<footer>
    <% include partials/footer %>
  </footer>
  
</html>