body {
	background-color: #f2f2f2;
}


#welcome {
	text-align: center;
}

footer {
	font-size: 13px;
	color: white;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
}

